#drinks, #under-21 {
  display: none;
}

#aries {
  background-color: ;
}
#taurus {
  background-color: ;
}
#gemini {
  background-color: ;
}
#cancer {
  background-color: ;
}
#leo {
  background-color: ;
}
#virgo {
  background-color: ;
}
#libra {
  background-color: ;
}
#scorpio {
  background-color: ;
}
#sagittarius {
  background-color: ;
}
#capricorn {
  background-color: ;
}
#aquarius {
  background-color: ;
}
#pisces {
  background-color: ;
}
